@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');

*
{
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
body
{
    margin: 0px;
}
p{
    font-size: 1.1rem;
}
input 
{
    direction: rtl;
}
@keyframes show
{
    from{
       transform: translateY(50px);
       opacity: 0;
    }
    to{
       transform: translateY(0px);
       opacity: 1;
  
    }
}
